:root { 
    --bg-main: #1a75ba; 
    --deep-gray: #676d8f;  
    --smooth-gray: #90a6bb; 
}

/* 
    - nav component
    1. li.nav-title span: 소제목 
    2. a.nav-link : 링크 target
    3. a.nav-link.nav-icon : 아이콘만 있는 경우  
*/

.nav li.nav-title span { 
    display: flex; 
    margin-bottom: 1rem; 
    text-transform: uppercase; 
    font-family: 'Opensans-bold', sans-serif; 
    font-size: .815rem; 
    color: currentColor; 
}

.nav li a.nav-link { 
    min-width: 2.75rem; 
    height: 2.75rem; 
    display: flex; 
    display: -ms-flexbox; 
    align-items: center; 
    -ms-flex-align: center; 
    justify-content: space-between;
    -ms-flex-pack: space-between; 
    padding: 0 .525em; 
    text-transform: capitalize; 
    color: currentColor; 
}

.nav li a.nav-link span { 
    display: inline-block; 
    padding: 0 .25rem; 
}

/* 
    - button component
    1. .btn-group : button 여러개 넣을 경우 부모요소
    2. .btn-block, .btn-icon, btn-link, btn-border 
    3. .btn-close, .btn-close.arrow  
    4. .btn-sm, btn-xs 
    5. .ripple : button 클릭효과추가 
*/

.btn-group { 
    display: inline-flex; 
    display: -ms-flexbox; 
    align-items: center; 
    -ms-flex-align: center; 
}

.btn-group button { margin-left: .525rem; }
.btn-group button:first-of-type { margin-left: 0; }

button { 
    background: transparent; 
    min-width: 4.5rem; 
    max-width: 10rem; 
    height: 2.75rem; 
    line-height: 2.75rem; 
    display: inline-block;  
    padding: 0 1em; 
    border: none; 
    border: 1px solid transparent; 
    border-radius: .225em; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    vertical-align: middle; 
    outline: none; 
    font-family: 'Opensans-regular', sans-serif; 
    font-size: .925rem; 
    /* color: #1688c9;  */
    color: currentColor; 
    cursor: pointer;
    transition: all .3s ease-in-out; 
}


/* =========== button 형태 */

.btn-icon { 
    width: 1.875rem; 
    min-width: 0; 
    font-size: 1.25rem; 
}

.btn-link { 
    min-width: 0; 
    height: auto; 
    line-height: 1rem; 
    border-bottom: 1px solid currentColor; 
}

.btn-block { 
    width: 100%; 
    max-width: 100%; 
    display: block; 
    margin: 1rem 0; 
}

.btn-border { background: transparent; }

.btn-border.primary { color:#1a75ba; }
.btn-border.warning { color:#f5803e; }
.btn-border.danger { color:#f54e5d; }

/* =========== button close */

.btn-close { min-width: 0; }

.btn-close:not(.arrow)::before, 
.btn-close:not(.arrow)::after { 
    content: ''; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
    background: #ccc; 
    display: block; 
    width: 1rem; 
    height: 2px; 
    transition: all .3s ease-in-out; 
}


.btn-close:not(.arrow)::before { transform: rotate(45deg); }
.btn-close:not(.arrow)::after { transform: rotate(-45deg); }

.btn-close:not(.arrow):hover::before,
.btn-close:not(.arrow):hover::after { 
    background: #1676ba;
}


/* =========== button size */

.btn-sm { font-size: 85%; }
.btn-lg { font-size: 115%; }


/* =========== button effect */

button.uppercase, 
.btn-group.uppercase button { text-transform: uppercase; }

button:not(.disabled):hover { opacity: .8; }

button.ripple { 
    position: relative;
    overflow: hidden; 
    transform: translate3d(0, 0, 0); 
}

button.ripple::after { 
    content:''; 
    display: block; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    pointer-events: none; 
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%); 
    background-repeat: no-repeat; 
    background-position: 50%; 
    transform: scale(10, 10); 
    opacity: 0; 
    transition: transform .5s, opacity 1s; 
}

button.ripple:active::after { 
    transform: scale(0, 0); 
    opacity: .3;
    transition: 0s; 
}


/* card */

.card { 
    background: #fff; 
    min-width: 250px; 
    display: inline-flex; 
    flex-direction: column; 
    flex: 0 1 auto; 
    border-radius: .325rem; 
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.125); 
}

.card .card-header { 
    min-height: 40px; 
    line-height: 40px; 
    display: flex; 
    align-content: center; 
    padding: 0 1.25rem; 
}

