/*  button  */

.btn-group { 
    display: inline-flex; 
    display: -ms-flexbox; 
    align-items: center; 
    -ms-flex-align: center; 
}

.btn-group button { margin-left: .5rem; }
.btn-group button:first-of-type { margin-left: 0; }

button { 
    background: transparent; 
    min-width: 4.5rem; 
    max-width: 10rem; 
    height: 1.875rem; 
    line-height: 1.82rem;
    display: inline-block;  
    padding: 0 .525em; 
    border: none; 
    border: 1px solid transparent; 
    border-radius: .225em; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    vertical-align: middle; 
    outline: none; 
    text-transform: uppercase; 
    font-family: 'Opensans-semibold', sans-serif; 
    font-size: .8rem; 
    /* color: #1688c9;  */
    color: inherit; 
    cursor: pointer;
    transition: all .3s ease-in; 
}

.btn-icon { 
    min-width: 1rem; 
    height: auto;
    min-height: 1rem; 
    font-size: 1rem; 
}

.btn-sm, .btn-link { 
    min-width: 0; 
    height: 1.25rem; 
    line-height: 1rem; 
}

.btn-sm { font-size: 85%; }

.btn-link { 
    border: none; 
    text-decoration: underline; 
}

.btn-block { 
    width: 100%; 
    max-width: 100%; 
    display: block; 
    margin: 1rem 0; 
}

.btn-close { 
    position: relative; 
    min-width: 2rem;
    height: auto; 
}

.btn-close.arrow { padding-right: 0; }

.btn-close:not(.arrow)::before, 
.btn-close:not(.arrow)::after { 
    content: ''; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
    background: #ccc; 
    display: block; 
    width: 1rem; 
    height: 2px; 
    transition: background .3s ease-in-out; 
}

.btn-close:not(.arrow)::before { transform: rotate(45deg); }
.btn-close:not(.arrow)::after { transform: rotate(-45deg); }

.btn-close:not(.arrow):hover::before,
.btn-close:not(.arrow):hover::after { 
    background: #1676ba;
}

.primary { 
    background: #1650ba; 
    color: #fff; 
}

.danger { 
    background: #f54e5d; 
    border-color: #f54e5d; 
    color: #fff; 
}

.disabled { 
    color: #bbb; 
    cursor: not-allowed;
}

button.hover:hover { 
    background: #1650ba; 
    color: #fff; 
}

button.disabled:not:hover { 
    background: #0079b8; 
    color: #fff; 
}

button.primary:hover { 
    background: #0079b8; 
    color: #fff; 
}

button.btn-link:hover, 
button.danger:hover { color: #f54e5d; }

button.btn-link:hover,
button.danger:hover { background: #fff; }

button.ripple { 
    position: relative;
    overflow: hidden; 
    transform: translate3d(0, 0, 0); 
}

button.ripple::after { 
    content:''; 
    display: block; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    pointer-events: none; 
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%); 
    background-repeat: no-repeat; 
    background-position: 50%; 
    transform: scale(10, 10); 
    opacity: 0; 
    transition: transform .5s, opacity 1s; 
}

button.ripple:active::after { 
    transform: scale(0, 0); 
    opacity: .3;
    transition: 0s; 
}

/* alarm <a태그사용> */

a.alarm-dot { 
    position: relative; 
    color: #9c9c9c; 
}

a.alarm-dot::before { 
    content: ''; 
    display: block; 
    background: #2196f3;
    width: 1rem; 
    height: 1rem; 
    border: 2px solid #fff; 
    border-radius: 50%; 
    position: absolute; 
    right: -.2rem; 
    top: -.2rem; 
}

/* toggle */

.btn-toggle { display: inline-block; }

.btn-toggle label { 
    width: 4.5rem; 
    height: 2rem; 
    display: inline-block;
    border: 1px solid #ccc; 
    border-radius: 1rem; 
    box-sizing: content-box; 
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out; 
}

.btn-toggle label::before {
    content:'';
    background: #ccc; 
    width: 2rem;
    height: inherit; 
    display: inline-block; 
    border-radius: 50%; 
    top: 0; 
    left: 0; 
    position: absolute; 
    transition: all .2s ease-in-out;  
}

.btn-toggle input { display: none; }

.btn-toggle input[type="checkbox"]:checked + label { border-color: #0079b8; }

.btn-toggle input[type="checkbox"]:checked + label::before { 
    background: #0079b8; 
    left: 2.5rem;
}

/* alert */

.alert { 
    display: block; 
    padding: 1rem; 
    border: 1px solid transparent; 
    border-radius: .325rem; 
    line-height: 2.4rem; 
    font-size: 1.6rem; 
}

.alert span { 
    background: inherit; 
    margin-right: 1rem; 
    display: inline-block; 
    padding: 0 .85rem; 
    border: 1px solid inherit;
    border-radius: .325rem; 
    text-transform: uppercase; 
    font-size: 1.25rem; 
    color: #484848; 
}

.alert i { margin-right: 1rem; }

.alert.success i { color: #0079b8; }
.alert.info i { color: #ccaa10; }
.alert.warning i { color: #f54e5d; }
.alert.error i { color: #e81528; }

.alert.success { 
    background: rgba(0, 121, 184, .3);
    border-color: #0079b8; 
}

.alert.info { 
    background: rgba(247, 205, 13, .3);
    border-color: #f7cd0d;
}

.alert.warning { 
    background: rgba(245, 78, 93, .3);
    border-color: #f54e5d;
}

.alert.error { 
    background: rgba(232, 21, 40, .3);
    border-color: #e81528;
}

/* card */

.card { 
    background: #fff; 
    display: flex; 
    display: -ms-flexbox; 
    flex-direction: column; 
    -ms-flex-direction: column; 
    box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.1);
    border-radius: .225rem; 
    font-size: 1rem;
    overflow: hidden;
    color: #3d4465; 
}

.card.inline { display: inline-flex; }

.card-header, 
.card-footer { 
    height: 3.4375rem; 
    line-height: 3.4375rem; 
    display: flex; 
    display: -ms-flexbox; 
    align-items: center; 
    -ms-flex-align: center; 
    padding: 0 1rem; 
}

.card-header h3 { font-size: 1rem; }
.card-header p { color: #a1a8c3; }

.card-content { 
    display: flex;
    flex-direction: column; 

    display: -ms-flexbox; 
    overflow-y: auto; 
}

.card-content h4 { 
    line-height: 1.15rem; 
    font-size: .925rem; 
}

.card-content p { 
    margin-top: .15rem; 
    line-height: 1.25rem; 
    font-size: .8rem;
    color: #a1a8c3;  
}

/* .card-content .card-block { margin-top: 2em; }
.card-content .card-block:first-of-type { margin-top: 0; } */

.profile-box { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 50px; 
    height: 50px; 
    border: 1px dashed #ccc; 
    font-size: 2rem; 
}

/* input */

form > label { margin-bottom: .85rem; }

form.row > div { margin-left: 2rem; }
form.row > div:first-of-type { margin-left: 0; }

form label, .chk-group, .rdo-group, 
.chk-group label, .rdo-group label { 
    display: flex; 
    display: -ms-flexbox; 
    align-items: center; 
    -ms-flex-align: center; 
    cursor: pointer;
}

.chk-group input, 
.rdo-group input { display: none; }

.chk-group label, 
.rdo-group label { 
    position: relative; 
    margin-left: 1rem;     
    cursor: pointer;
}

.chk-group label:first-of-type, 
.rdo-group label:first-of-type { margin-left: 0; }

.chk-group label::before, 
.chk-group label::after, 
.rdo-group label::before, 
.rdo-group label::after { 
    content: ''; 
    display: block; 
}

.chk-group label::before, 
.rdo-group label::before { 
    width: 1.6rem; 
    height: 1.6rem; 
    margin-right: .5rem; 
    border: 1px solid #0079b8; 
    border-radius: .18rem; 
}

.rdo-group label::before { border-radius: 50%; }

.chk-group label::after, 
.rdo-group label::after { 
    position: absolute; 
    display: none; 
}

.chk-group label::after { 
    width: .8rem; 
    height: .7rem; 
    border-left: 2px solid #fff; 
    border-bottom: 2px solid #fff; 
    transform: rotate(-45deg);  
    top: .3rem; 
    left: .4rem;
}

.rdo-group label::after { 
    background: #0079b8; 
    width: .8rem; 
    height: .8rem; 
    border-radius: 50%; 
    top: .4rem;
    left: .4rem; 
}

.chk-group input:checked + label::before { background: #0079b8; }

.chk-group input:checked + label::after, 
.rdo-group input:checked + label::after { display: block; }

input[type="text"] { 
    min-width: 10rem; 
    padding: .25rem; 
    border: none; 
    border-bottom: 1px solid #aaa; 
    outline: none; 
}

textarea { 
    width: 100%; 
    resize: none; 
}

.select { position: relative; }

select {  
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'%3E%3Cpolygon fill='#1676ba' points='20.62 55.62 45.74 30.5 20.62 5.38 16.38 9.62 37.26 30.5 16.38 51.38 20.62 55.62'/%3E%3C/svg%3E") no-repeat;
    height: 23px;
    padding: 0 .825em;
    border: none; 
    border-bottom: 1px solid #e2e5ec; 
    text-align: center; 
    -webkit-appearance: none; 
    appearance: none;
    cursor: pointer;
}

.select.sm select { min-width: 5rem; }
.select.lg select { min-width: 15rem; }

.table-pager select { 
    background: #f0f3ff; 
    border: none; 
    border-radius: .15rem;
    font-family: "Opensans-bold", sans-serif;  
    color: #93a2dd; 
}

.select-title { 
    margin-right: .5rem; 
    text-transform: uppercase; 
    font-size: .6875rem;
    font-family: 'Opensans-bold', sans-serif;  
    color: #676d8f; 
}



/* tab */

ul.tab-items { 
    margin-bottom: 1rem; 
    padding: 0 1em; 
    border-bottom: 1px solid #f0f3ff 
}

ul.tab-items a {     
    display: block; 
    width: 4.85rem; 
    height: 2.5rem; 
    line-height: 2.5rem; 
    margin-bottom: -1px; 
    border-bottom: 2px solid transparent; 
    text-align: center; 
    font-size: .8rem; 
    color: #90a6bb; 
    transition: all .25s ease-in-out;
}

ul.tab-items a span { font-family: 'Opensans-semibold', sans-serif;  }

ul.tab-items a.active,
ul.tab-items a:hover  { 
    border-color: #1650ba; 
    color: #1650ba; 
}

.panels { width: 100%; }

.panels .panel.on { 
    display: block; 
    opacity: 1; 
    animation: show 1s; }

.panels .panel { 
    display: none; 
    opacity: 0;
}

@keyframes show { 
    from { 
        opacity: 0;
        display: none; 
    }
    to { 
        display: block; 
        opacity: 1;
    }
}

/* slider */

.slider-component { 
    width: 100%; 
    position: relative;
    overflow: hidden;
}

.pager-view { 
    width: inherit; 
    height: inherit;
    position: relative;
}

.pager-view li { 
    width: 100%; 
    float: none; 
    position: absolute; 
    top: 0; 
    left: 100%; 
    transition: all 1s ease-in-out; 
}

.pager-view li:first-of-type { left: 0; }

.pager-view li img { 
    max-width: 100%;  
    display: block; 
}

.pager-view li.active { display: block; }

.pager-control .prev, 
.pager-control .next {
    position: absolute; 
    background: #000; 
    width: 4rem; 
    height: 4rem; 
    border-radius: 50%;
    opacity: .3;
    top: 0; 
    left: 2.5rem; 
    bottom: 0; 
    margin: auto;  
    z-index: 100;
}

.pager-control .prev:hover, 
.pager-control .next:hover { opacity: .6; }

.pager-control .next { right: 2.5rem; left: auto; }

.pager-control .prev::before,
.pager-control .next::before { 
    content:''; 
    display: block; 
    width: 1rem; 
    height: 1rem; 
    border-left: 3px solid #fff; 
    border-bottom: 3px solid #fff; 
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    margin: auto; 
}

.pager-control .next::before { 
    transform: rotate(225deg); 
    -ms-transform: rotate(225deg); 
}

.pager-dot { 
    display: flex; 
    display: -ms-flexbox; 
    justify-content: center; 
    -ms-flex-pack: center; 
    padding-top: 2rem; 
    margin: auto; 
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 2rem; 
    z-index: 100;
}

.pager-dot a { 
    background: #666; 
    width: 1.2rem; 
    height: 1.2rem; 
    display: block; 
    margin: 0 5px; 
    border: none; 
    outline: 0; 
    border-radius: 50%; 
}

.pager-dot a.active, 
.pager-dot a:hover { background: #000; }

/* sidebar */

.side-toggle-btn { cursor: pointer; }
.side-toggle-btn span { display: inline-block; }


/* header */

.menu li a { 
    background: transparent; 
    height: 100%; 
    padding: 0 2rem; 
    display: flex; 
    align-items: center; 
    font-size: .8rem; 
    font-family: "Opensans-semibold"; 
    transition: background .3s ease;  
    color: #1a75bb; 
    -webkit-font-smoothing: antialiased; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.menu:not(.menu-sm) li a:hover { 
    background: #ecf4f9; 
}

.menu.menu-sm li a { 
    padding: 0 1.25rem;
    font-size: 1rem; 
}

/* dropmenu */

.dropmenu { 
    position: absolute; 
    bottom: auto;  
    right: 0; 
    top: 25px; 
    background: #fff; 
    min-width: 11.5rem; 
    margin-top: .5rem; 
    padding: 1.25em 0 1em; 
    box-shadow: 0px 0px 50px 0px rgba(82,63,105,0.15); 
    border-radius: .25rem; 
    overflow: hidden; 
    display: none; 
    opacity: 0;
    font-size: 1rem; 
    z-index: 100;
    transition: all .25s ease-in-out;
}

.dropmenu .dropmenu-title span { 
    display: block; 
    margin-bottom: .5rem; 
    padding-left: 1.5em; 
    text-transform: uppercase; 
    font-family: 'Opensans-bold', sans-serif; 
    color: #1676ba; 
    font-size: .6875rem; 
}

.dropmenu ul li:not(.dropmenu-title) { transition: all 0.3s; }

.dropmenu ul li:not(.dropmenu-title) a {
    display: flex; 
    align-items: center; 
    padding: .825em 1.825em; 
    font-size: .825rem; 
    color: #676d8f; 
}

.dropmenu ul li:not(.dropmenu-title) a i { 
    margin-right: .725rem; 
    color: #90a6bb; 
}

.dropmenu ul li:not(.dropmenu-title):hover { background: #f7f8fa }
.dropmenu ul li:not(.dropmenu-title):hover a, 
.dropmenu ul li:not(.dropmenu-title):hover i { color: #1650ba; }

.dropmenu.show { 
    opacity: 1;
    top: 15px; 
 }

.ellipsis { 
    position: relative; 
    background: transparent; 
}

.ellipsis, 
.ellipsis::before, 
.ellipsis::after { 
    /* background: inherit;  */
    background: #1650ba; 
    width: 5px; 
    height: 5px; 
    display: block; 
    border-radius: 50%; 
}

.ellipsis::before, 
.ellipsis::after { 
    content: '';
    position: absolute;
    left: -8px; 
}

.ellipsis::after { left: 8px; }


/* container */

.container-header { 
    background: #fff; 
    padding: .825rem 1rem; 
    box-shadow: 0px 0px 28px 0px rgba(68,94,167,0.13);
    color: #3f4567; 
}

.container-header h2 { font-size: .875rem; }
.container-header h2 small { color: #90a6bb; }

.container-content { display: none; }
.container-content.on { display: flex; }

.container-footer { 
    background: #324358; 
    height: 25px; 
}

/* table */

table { width: 100%; }

table tr { 
    border-bottom: 1px solid #f0f3ff; 
    font-size: .875rem; 
    color: inherit; 
}

table th, table td { 
    padding: 1em 1em; 
    text-align: left;
    font-size: .825rem;  
}

table th span {
    font-family: "Opensans-semibold", sans-serif; 
}

.table-pager { 
    margin: 1rem 0; 
    padding: 0 1em; 
    font-size: .825rem; 
}

.table-pager, 
.table-pager ul { 
    display: flex; 
    display: -ms-flexbox; 
    align-items: center; 
}

.table-pager ul li:not(:first-child) { margin-left: .25rem; }

.table-pager ul a { 
    background: transparent; 
    width: 23px; 
    height: 23px; 
    display: flex;
    align-items: center;  
    border-radius: .15rem; 
    color: #676d8f; 
}

.table-pager ul a.active { 
    background: #1650ba; 
    color: #fff; 
}

.table-pager ul a.table-pager-arrow { background: #f0f3ff; color: #93a2dd; }

.table-pager ul li span { margin: auto; }

.table-pager div span { 
    margin-left: .5rem; 
    color: #90a6bb; 
} 

.table-pager div { 
    margin-left: auto; 
    color: #676d8f; 
}

/* list */

.listitem { 
    display: block; 
    border-bottom: 1px dashed #ebedf2; 
    padding: 1rem 0;  
}

.listitem-title span, 
.listitem-sum { color: #90a6bb; }

.listitem-sum li { 
    background: #f0f3ff; 
    margin-right: .5rem; 
    /* border: 1px solid #ccc;  */
    padding: 4px 6px;
    border-radius: 4px;  
}

/* timeline */

.timeline-item { 
    margin-bottom: 1.25rem; 
    position: relative;
}

.timeline-item-header { 
    display: flex; 
    display: -ms-flexbox; 
    align-items: center; 
    -webkit-box-align: center; 
}

.timeline-item-icon { 
    display: inline-block; 
    width: 14px; 
    height: 14px; 
    border-radius: 50%; 
    border: 3px solid #1676ba; 
}

.timeline-item-datetime { 
    margin-left: .725rem; 
    font-size: .6875rem; 
    font-family: 'Opensans-bold', sans-serif; 
    text-transform: uppercase; 
    color: #676d8f; 
}

.timeline-item::before { 
    content: ''; 
    display: block; 
    width: 4px; 
    background: #ebedf2; 
    height: 100%; 
    left: .3rem; 
    top: 1.05rem; 
    position: absolute; 
}

.timeline-item-content { 
    margin-top: .5rem; 
    margin-left: 1.65rem; 
    color: #676d8f; 
}

.timeline-item-text-label { 
    background: #ff5c6c; 
    min-width: 42px; 
    padding-top:1px; 
    text-align: center;
    display: inline-block; 
    color: #fff; 
    font-size: 80%; 
    margin-right: .25rem; 
    text-transform: uppercase; 
    border-radius: .25rem; 
}

/* slider */

.slide-component { 
    flex: 1; 
    -ms-flex: 1 1 0; 
}

.slide-panels { 
    position: relative; 
    width: 100%; 
    min-height: 100%; 
    text-align: center; 
    margin: 0 auto; 
    overflow: hidden; 
}

.slide-panel { 
    position: absolute; 
    left: 100%; 
    top: 0; 
    width: 100vw; 
    height: inherit; 
    box-sizing: border-box; 
    background-size: 100% auto; 
    background-attachment: fixed; 
    background-position: center center; 
}

.slide-panel.active { left: 0; }

.slide-dot { 
    position: absolute; 
    bottom: 0;
}

.modal-component { 
    position: fixed;
    top: 0; 
    left: 0; 
    background: rgba(0,0,0,.15); 
    width: 100%;
    height: 100vh; 
    z-index: 100;
    display: none; 
}

.hide { transition: opacity 0.15s ease-in; }
.hide:not(.show){ opacity: 0; }

.modal-block { 
    width: 100%; 
    height: 100vh; 
    display: flex; 
    display: -ms-flexbox; 
    justify-content: center; 
    -ms-flex-pack: center; 
    align-items: center; 
    -ms-flex-align: center; 
}

.modal-component.hide .modal-block .modal-box { 
    transform: translate(0, -25px); 
    transition: transform 0.3s ease-out; 
}

.modal-component.show .modal-block .modal-box { transform: none; }

.modal-box { 
    background: #fff; 
    width: 550px; 
    max-height: calc(100% - 5rem); 
    display: flex; 
    display: -ms-flexbox; 
    flex-direction: column; 
    -ms-flex-direction: column; 
    box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.1);
    border-radius: .225rem; 
    color: #3d4465; 
}

.modal-box.modal-lg { max-width: 800px; }

.modal-header, 
.modal-footer { 
    height: 3.4375rem; 
    line-height: 3.4375rem; 
    display: flex; 
    display: -ms-flexbox; 
    align-items: center; 
    -ms-flex-align: center; 
    padding: 0 1rem; 
}

.modal-content { 
    padding: 1rem; 
    flex: 1 1 auto; 
    -ms-flex: 1 1 auto;
    overflow-y: auto; 
}

.modal-content p { 
    line-height: 1.35rem; 
    font-size: .875rem; 
}

/* slide-component */

.slide-component { 
    position: relative;
    width: 100%; 
    height: auto; 
    display: flex; 
}

.slide-component .btn-arrow { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    background: rgba(54,153,255,0.1); 
    min-width: 30px; 
    height: 30px; 
    padding: 0; 
    margin: auto; 
    z-index: 20;
    color: #3699ff; 
}

.btn-arrow.left { left: 1rem; }
.btn-arrow.right { right: 1rem; }

.slide-component .btn-arrow:hover { 
    background: #3699ff; 
    color: #fff; 
}

.slide-component ul { 
    width: 100%; 
    height: auto; 
    position: relative;
    overflow: hidden; 
}


.slide-component ul li { 
    position: absolute; 
    left: 100%; 
    top: 0; 
    
    background: #fff; 
    width: 100%; 
    height: 100%; 
    text-align: center; 
    font-size: .875rem; 
    z-index: 0;
    transition: all .5s ease-in-out; 
}


.slide-component ul li:first-child { left: 0; z-index: 10; }
.slide-component ul li:last-child { left: -100%; z-index: 0; }
